.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-default {
  color: #fff;
  background-color: #000;
  border-color: #ccc;
}